:root {
  --setCount: 2
}

#zoomControls {
  display: none; // these don't work right yet :(
}

.uniqueId {
  display: none;
  font-size: 0.8em;
  td {
    padding: 0.3em;
  }
}

#wheels {
  display: inline-grid;
  grid-template-columns: repeat(var(--setCount), 1fr) auto;
  grid-template-rows: auto auto auto;
  grid-auto-flow: column;
  place-items: stretch / stretch;
}

.wheelAndTireInput, .addItemButton {

}

.wheelAndTireCanvasWrapper {

}

.addItemButton {
  display: inline-block;
  vertical-align: top;
}

.collapseInputLink, .expandInputLink, .swapInputLink, .copyInputLink, .removeInputLink {
  float: right;
  margin-left: 1.4em;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.wheelAndTireOutput table {
  display: block;
}

.wheelAndTireOutput>table {
  padding: 1em;
}

.wheelAndTireCanvas {
  margin: 0.3em;
  width: 98%;
  display: block;
  background: #e1eaf5;
  box-shadow: 0 0.2em 0.15em 0 hsla(0, 0%, 0%, 0.15);
}

.baseline {
  color: #555555;
}

.inputLabel, .inputData {
  vertical-align: top;
  white-space: nowrap;
}

.sizeRatioExampleSet {
  margin-top: 0.5em;
}

div.sizeDeltaExamples {
  font-size: 0.75em;
}

table.sizeDeltaExamples {
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 1em;

  td, th {
    width: 50%;
    font-size: 0.75em;
    white-space: nowrap;
    padding: 0.1em 0.1em 0.1em 0.1em;
  }

  th {
    padding: 1em 1em 0.1em 0.1em;
    font-weight: bold;
  }

  td {
    padding: 0.1em 1em 0.1em 0.1em;
  }

  th:nth-child(1) {
    text-align: right;
  }

  td:nth-child(1) {
    text-align: right;
  }

  th:nth-child(2) {
    text-align: left;
  }

  td:nth-child(2) {
    text-align: left;
  }
}

