<p class="explanation">
  This calculator helps you compare the fitment of one wheel-and-tire combination with another.
</p>
<div id="zoomControls">
  <label for="scaleFactor">Zoom: </label>
  <input id="scaleFactor" [(ngModel)]="scaleFactor" type="number" min="10" max="500" (change)="onChangeScaleFactor()" step="1">
  <span class="unitLabel">%</span>
</div>
<div @list id="wheels">
  <ng-container *ngFor="let set of sets; let setIndex = index; trackBy: uniqueId">
    <div @inputs class="wheelAndTireInput">
      <table id="wheel{{setIndex}}Input" class="input">
        <thead>
          <tr>
            <th>{{sets.length == 1 ? "Inputs" : setIndex == 0 ? "Baseline" : "Option " + (setIndex)}}</th>
            <th>
              <span class="copyInputLink clickable" (click)="cloneItem(setIndex)">Copy ></span>
              <span *ngIf="sets.length > 1" class="removeInputLink clickable" (click)="removeItem(setIndex)">Remove</span>
              <span *ngIf="setIndex > 0" class="swapInputLink clickable" (click)="swapItem(setIndex)">&lt; Swap</span>
            </th>
          </tr>
        </thead>
        <tr class="uniqueId"><td colspan="2">Set Unique ID: {{set.uniqueId}}</td></tr>
        <tr>
          <th class="inputLabel"><label for="wheelDiameter{{setIndex}}">Wheel Diameter</label></th>
          <td class="inputData">
            <input id="wheelDiameter{{setIndex}}" [(ngModel)]="set.wheel.diameterInches" type="number" min="13" max="30" (change)="set.onChange()" step="1">
            <span class="unitLabel"> inches</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel"><label for="wheelWidthInches{{setIndex}}">Wheel Width</label></th>
          <td class="inputData">
            <input id="wheelWidthInches{{setIndex}}" [(ngModel)]="set.wheel.widthInches" type="number" min="4" max="20" (change)="set.onChange()" step="0.5">
            <span class="unitLabel"> inches</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel"><label for="wheelOffsetMillimeters{{setIndex}}">Wheel Offset</label></th>
          <td class="inputData">
            <input id="wheelOffsetMillimeters{{setIndex}}" [(ngModel)]="set.wheel.offsetMillimeters" type="number" min="-200" max="200" (change)="set.onChange()" step="1">
            <span class="unitLabel"> millimeters</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel"><label for="sectionWidthMillimeters{{setIndex}}">Tire Size</label></th>
          <td class="inputData">
            <input id="sectionWidthMillimeters{{setIndex}}" [(ngModel)]="set.tire.sectionWidthMillimeters" type="number" min="135" max="395" (change)="set.onChange()" step="10">
            <span class="unitLabel"><label for="profileHeightPercentage{{setIndex}}">/ </label></span>
            <input id="profileHeightPercentage{{setIndex}}" [(ngModel)]="set.tire.profileHeightPercentage" type="number" min="10" max="90" (change)="set.onChange()" step="5">
            <span class="unitLabel"><label for="tireWheelDiameter{{setIndex}}"> R </label></span>
            <input id="tireWheelDiameter{{setIndex}}" [(ngModel)]="set.wheel.diameterInches" type="number" min="13" max="30" (change)="set.onChange()">
          </td>
        </tr>
        <tr>
          <th class="inputLabel"><label for="brakeRotorDiameter{{setIndex}}">Brake Rotor Diameter</label></th>
          <td class="inputData">
            <input id="brakeRotorDiameter{{setIndex}}" [(ngModel)]="set.brake.rotorDiameterInches" type="number" min="8" max="20" (change)="set.onChange()" step="0.5">
            <span class="unitLabel"> inches</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel"><label for="brakeRotorThickness{{setIndex}}">Brake Rotor Thickness</label></th>
          <td class="inputData">
            <input id="brakeRotorThickness{{setIndex}}" [(ngModel)]="set.brake.rotorThicknessMillimeters" type="number" min="8" max="50" (change)="set.onChange()" step="1">
            <span class="unitLabel"> mm</span>
          </td>
        </tr>
      </table>
    </div>
    <div @outputs class="wheelAndTireOutput">
      <table class="output">
        <tr>
          <th class="inputLabel">Wheel Backspacing</th>
          <td class="outputData">
            <span id="wheelBackspacing{{setIndex}}">{{set.wheel.backspacingInches | number:'1.2-2'}}</span>
            <span class="unitLabel"> inches (estimated)</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel">Profile height</th>
          <td class="outputData">
            <span id="profileHeight{{setIndex}}">{{set.tire.profileHeightInches | number:'1.2-2'}}</span>
            <span class="unitLabel"> inches</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel">Tire Diameter</th>
          <td class="outputData">
            <span id="tireDiameter{{setIndex}}">{{set.tire.tireDiameterInches | number:'1.2-2'}}</span>
            <span class="unitLabel"> inches</span>
          </td>
        </tr>
        <tr>
          <th class="inputLabel">Tire Circumference</th>
          <td class="outputData">
            <span id="tireCircumference{{setIndex}}">{{set.tire.tireCircumferenceInches | number:'1.2-2'}}</span>
            <span class="unitLabel"> inches</span>
          </td>
        </tr>
        <tr *ngIf="sets.length > 1">
          <th class="inputLabel">Backspacing Delta</th>
          <td class="outputData">
            <span *ngIf="setIndex == 0" class="unitLabel baseline">(baseline)</span>
            <div *ngIf="setIndex > 0">
              <span id="backspacingDelta{{setIndex}}">{{set.wheel.backspacingDeltaInches | absoluteValue | number:'1.2-2'}}</span>
              <span class="unitLabel"> inches farther {{set.wheel.backspacingDeltaInches < 0 ? "inboard" : "outboard"}}</span>
            </div>
          </td>
        </tr>
        <tr *ngIf="sets.length > 1">
          <th class="inputLabel">Size Delta</th>
          <td class="outputData">
            <span *ngIf="setIndex == 0" class="unitLabel baseline">(baseline)</span>
            <div *ngIf="setIndex > 0">
              <div *ngIf="set.tire.sameAsBaseline">
                <div class="sizeDeltaExamples">This tire is effectively identical in size as it affects your speedometer.</div>
              </div>
              <div *ngIf="!set.tire.sameAsBaseline">
                <span id="sizeDelta{{setIndex}}">{{set.tire.sizeDeltaPercentage * 100 | absoluteValue | number:'1.2-2'}}</span>
                <span class="unitLabel">% {{set.tire.sizeDeltaPercentage < 0 ? "smaller" : "larger"}}</span>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div *ngIf="setIndex > 0">
              <div *ngIf="!set.tire.sameAsBaseline" class="sizeRatioExampleSet">
                <table class="sizeDeltaExamples">
                  <tr>
                    <th>When this speed is indicated</th>
                    <th>You are actually traveling</th>
                  </tr>
                  <tr *ngFor="let speed of sizeRatioExampleSpeeds">
                    <td>{{speed}} mph</td><td>{{speed * set.tire.sizeRatio | number:'1.2-2'}} mph</td>
                  </tr>
                  <tr>
                    <th>If you want to travel</th>
                    <th>Look for an indicated</th>
                  </tr>
                  <tr *ngFor="let speed of sizeRatioExampleSpeeds">
                    <td>{{speed}} mph</td><td>{{speed / set.tire.sizeRatio | number:'1.2-2'}} mph</td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div @canvasses class="wheelAndTireCanvasWrapper">
      <canvas #wheelAndTireCanvas class="wheelAndTireCanvas"></canvas>
    </div>
  </ng-container>
  <div class="addItemButton">
    <button (click)="addItem()">Add another wheel+tire combination</button>
  </div>
</div>
