<p class="explanation">
  This calculator helps you make a rough estimate of the fuel you'll need for a track
  day and how much it will cost you.
</p>
<table id="inputs">
  <thead>
  <tr>
    <th colspan="2">Inputs</th>
  </tr>
  </thead>
  <tr>
    <th class="inputLabel">Lap length</th>
    <td class="inputData">
      <input appTwoDecimal id="lapLength" [(ngModel)]="input.lapLength" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" type="number" min="0.01" max="999.99" (change)="onChange()" step="0.01">
      <span class="unitLabel"> miles</span>
    </td>
  </tr>
  <tr>
    <th class="inputLabel">Lap duration</th>
    <td class="inputData">
      <input id="lapDurationMinutes" [(ngModel)]="input.lapDurationMinutes" type="number" size="5" min="0" max="999" (change)="onChange()">
      <span class="unitLabel">m </span>
      <input id="lapDurationSeconds" [(ngModel)]="input.lapDurationSeconds" type="number" size="5" min="0" max="59" (change)="onChange()">
      <span class="unitLabel">s </span>
    </td>
  </tr>
  <tr>
    <th class="inputLabel">Session duration</th>
    <td class="inputData">
      <input id="sessionDurationHours" [(ngModel)]="input.sessionDurationHours" type="number" min="0" max="99" (change)="onChange()">
      <span class="unitLabel">h </span>
      <input id="sessionDurationMinutes" [(ngModel)]="input.sessionDurationMinutes" type="number" min="0" max="59" (change)="onChange()">
      <span class="unitLabel">m </span>
      <input id="sessionDurationSeconds" [(ngModel)]="input.sessionDurationSeconds" type="number" min="0" max="59" (change)="onChange()">
      <span class="unitLabel">s </span>
    </td>
  </tr>
  <tr>
    <th class="inputLabel">Sessions per event</th>
    <td class="inputData">
      <input id="sessionsPerEvent" [(ngModel)]="input.sessionsPerEvent" type="number" min="1" max="99" (change)="onChange()">
      <span class="unitLabel"> sessions</span>
    </td>
  </tr>
  <tr>
    <th class="inputLabel">Average economy</th>
    <td class="inputData">
      <input id="averageEconomy" [(ngModel)]="input.averageFuelEconomy" type="number" (change)="onChange()" min="0.01" max="999.99" step="0.01">
      <span class="unitLabel"> mpg</span>
    </td>
  </tr>
  <tr>
    <th class="inputLabel">Tank size</th>
    <td class="inputData">
      <input id="tankSize" [(ngModel)]="input.tankSize" type="number" (change)="onChange()" min="0.01" max="999.99" step="0.01">
      <span class="unitLabel"> gallons</span>
    </td>
  </tr>
  <tr>
    <th class="inputLabel">Fuel cost</th>
    <td class="inputData">
      <span class="dollars"><input id="fuelCost" [(ngModel)]="input.fuelCost" type="number" min="0.001" max="999.999" step="0.001" (change)="onChange()"></span>
      <span class="unitLabel"> per gallon</span>
    </td>
  </tr>
</table>

<table id="results">
  <thead>
    <tr>
      <th colspan="2">Outputs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="inputLabel">Laps per session</th>
      <td class="outputData">
        <span id="lapsPerSession">{{result.lapsPerSession | number:'1.2-2'}}</span>
        <span class="unitLabel"> laps</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Miles per session</th>
      <td class="outputData">
        <span id="milesPerSession">{{result.milesPerSession | number:'1.2-2'}}</span>
        <span class="unitLabel"> miles</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Session consumption</th>
      <td class="outputData">
        <span id="sessionConsumption">{{result.sessionConsumption | number:'1.2-2'}}</span>
        <span class="unitLabel"> gallons</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Cost per session</th>
      <td class="outputData">
        <span id="sessionCost">{{result.sessionCost | currency}}</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Sessions per tank</th>
      <td class="outputData">
        <span id="sessionsPerTank">{{result.sessionsPerTank}}</span>
        <span class="unitLabel"> sessions, with </span>
        <span id="sessionGallonsRemaining">{{result.sessionGallonsRemaining | number:'1.2-2'}}</span>
        <span class="unitLabel"> gallons remaining</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Total fuel consumption</th>
      <td class="outputData">
        <span id="totalFuelUsed">{{result.totalFuelUsed | number:'1.2-2'}}</span>
        <span class="unitLabel"> gallons</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Total fuel cost</th>
      <td class="outputData">
        <span id="totalFuelCost">{{result.totalFuelCost | currency}}</span>
      </td>
    </tr>
    <tr>
      <th class="inputLabel">Additional fuel needed</th>
      <td class="outputData">
        <div *ngIf="result.additionalFuelNeeded > 0; then additionalFuelNeeded else noAdditionalFuelNeeded"></div>
        <ng-template #additionalFuelNeeded>
          <span id="additionalFuelNeeded">{{result.additionalFuelNeeded | number:'1.2-2'}}</span><span class="unitLabel"> gallons</span>
        </ng-template>
        <ng-template #noAdditionalFuelNeeded>
          <span id="noAdditionalFuelNeeded">None!</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
