p {
  width: 80ch;
}

p figure {
  display: inline-block;
  text-align: right;
  float: right;
  margin: 0.4em;
  width: 50%;
  transition: ease-in-out all 0.2s;

  img {
    width: 40ch;
    transition: ease-in-out all 0.2s;
  }

  figcaption {
    font-size: 0.75em;
    text-align: center;
    margin-bottom: 1em;
  }
}

p figure:hover {
  transition: ease-in-out all 0.2s;

  img {
    width: 80ch;
    z-index: 1;
    transition: ease-in-out all 0.2s;
  }
}
