<div *ngIf="this.router.url === '/about'">
  <p>
    Hi, I'm Jake.
  </p>
  <!-- insert photo here -->
  <p>
    I'm {{ ageInYears }} years old. {{ birthdayIsToday ? "Today is my birthday!" : "" }}
    I've been married to Rebecca for {{ marriedYears }} years. {{ anniversaryIsToday ? "Today is our anniversary!" : "" }}
    We have two daughters, Elizabeth ({{ elizabethAgeInYears }}) and Amelia ({{ameliaAgeInYears}}). We live in
    <a href="https://goo.gl/maps/QiRdUT4BceVZYZaR8">Okemos, Michigan</a>.
  </p>
  <p>
    I'm a huge nerd with a thing for fast cars, alpine ski racing, home theater, taking pictures of my daughters, and
    pretty much anything high-tech. I dream of someday having the scheduling flexibility to pursue these interests more
    seriously. For now, I dabble and speculate.
  </p>
  <p>
    Professionally, I'm a software engineer. I've been writing computer programs since I was six years old, when my dad
    used <a href="https://archive.org/details/Kids_and_the_Commodore_64">a book</a> to introduce me to BASIC on our
    <a href="https://en.wikipedia.org/wiki/Commodore_64">Commodore 64</a>. I was hooked. I next learned to program using
    <a href="https://hypercard.org/">HyperCard</a> on a Mac, then
    <a href="https://en.wikipedia.org/wiki/GW-BASIC">GW-BASIC</a> on a PC running DOS, then
    <a href="https://en.wikipedia.org/wiki/Visual_Basic_(classic)">Visual Basic (pre-.NET)</a>. By then it was time for
    college, and so I applied to <a href="https://www.kettering.edu/">Kettering University</a> and in 1999 joined the
    Computer Science program, where I learned Java (along with all of the non-language-specific theory that one learns
    when studying CS).
  </p>
  <p>
    I bounced around looking for the right job after college, eventually settling at Sircon in 2005, later acquired by
    <a href="https://www.vertafore.com/">Vertafore</a>, where I spent fourteen years as a software engineer. In late
    2019, I decided to pursue remote work, in hopes that I could find something better outside Michigan. I found what I
    was looking for in a Senior Software Engineer position at <a href="https://www.datastax.com/">DataStax</a>. Just in
    time, too, as everyone else had to start working from home a few months later as the COVID-19 pandemic changed
    everything. I stayed there almost three years, and then in mid 2022 I left and accepted a position as a Staff
    Software Engineer and Tech Lead at<a href="https://bitrise.io/">Bitrise</a>. I enjoyed that job thoroughly -- by far
    the most engaging and rewarding work I've had, but unfortunately, VC funding dried up in 2022, and Bitrise was
    forced to lay off everyone working from the US (nearly a third of their workforce). I next landed at Automox, where
    I learned that desktop app development on Windows isn't really for me, and in the Spring of 2024, I was again hit
    with cost-cutting measures. As of this writing, I'm currently looking for something new. If you'd like to know more
    about my education and work history, check out <a href="/resume.html">my resume</a>.
  </p>
  <p>
    <a href="https://web.archive.org/web/20190706072604/https://meditationandmindfulnessforchildren.blogspot.com/" target="_blank">
      <figure>
        <img src="assets/adhd.png" alt="Cartoon humorously depicting the onslaught of sensory input into the ADHD mind">
        <figcaption>
          &ldquo;Mindful or mind-full&rdquo;, courtesy of a March 2013 post on the Meditation and Mindfulness for
          Children blog, the remnants of which can be found at archive.org.
        </figcaption>
      </figure>
    </a>
    A few years ago, I encountered a cartoon which, along with some other clues, led me to do some research which led me
    to suspect I have some degree of <a href="https://en.wikipedia.org/wiki/Attention_deficit_hyperactivity_disorder">ADHD</a>
    and <a href="https://en.wikipedia.org/wiki/Obsessive%E2%80%93compulsive_disorder">OCD</a>, with a possible hint of
    <a href="https://en.wikipedia.org/wiki/Autism_spectrum">ASD</a>. Fun, right? All of those are fairly common for
    computer programmers -- especially those who took to the profession young. In many ways, they're beneficial to my
    work.
  </p>
  <p>
    I worked with my doctor to arrange a test, and I've now been diagnosed with ADHD (inattentive subtype) and am
    pursuing treatment. I was not diagnosed with OCD or ASD. Regardless, the cartoon accurately depicts the way I feel
    about all the things going on around me. Sounds, movement, smells, not-so-fleeting thoughts &mdash; it is a constant
    onslaught of sensory data which I must always fight if I am to have any hope of staying focused. I am eminently
    distractable. This is consistent with my diagnosis, and I'm hoping that treatment will help.
  </p>
  <p>
    For the past few years, I have continued to work with my doctor on an appropriate medication and dosage. We started
    with a small dose of Ritalin and worked upward until I felt like it was having an effect. We settled on what I
    understand is a fairly large extended-release dosage, and which I felt was working reasonably well. However, I
    recently listened to a <a href="https://overcast.fm/+Tr3-HY7wU">podcast episode</a> in which an ADHD sufferer
    started medication (Adderal in her case) and said that it was like "clouds parting in my head"
    (<a href="https://overcast.fm/+Tr3-HY7wU/6:23">@6:23 in the episode</a>). My experience with Ritalin was nothing
    like that; just a slight quieting of the "noise" and a corresponding slight improvement in my ability to focus.
    I followed up with my doctor, and we tried Adderal (no significant effect), Wellbutrin (no significant effect), and
    now Strattera, which I think might be helping a little more than the others. It's always so hard to tell! I have
    definitely not yet encountered that &ldquo;clouds parting&rdquo; effect I'm searching for.
  </p>
  <p>
    This is a revised version of the original story, which I wrote before being diagnosed. I wrote it to help myself to
    accept it as truth, but also in the hopes that someone else suffering from similar problems might feel a touch less
    alone. With diagnosis, the former is no longer an issue, but I remain genuinely optimistic that someone else might
    benefit from reading about my experience.
  </p>
</div>
<router-outlet></router-outlet>
