<h1>Elsewhere on the Web</h1>
<ul>
  <li>Tech stuff
    <ul>
      <li><a href="https://github.com/jakerobb">GitHub</a></li>
      <li><a href="https://bitbucket.org/jakerobb">BitBucket</a> - where the source to this site resides</li>
      <li><a href="https://stackoverflow.com/users/535401/jakerobb">StackOverflow</a></li>
    </ul>
  </li>
  <li>Social Media
    <ul>
      <li><a rel="me" href="https://mastodon.cloud/jakerobb">Mastodon</a></li>
      <li><a href="https://www.linkedin.com/in/jakerobb/">LinkedIn</a></li>
      <li><a href="https://www.pinterest.com/jake0742/">Pinterest</a></li>
      <li><a href="https://twitter.com/itsjakerobb">@itsjakerobb on Twitter</a> - I don't really use this anymore</li>
      <li><a href="https://facebook.com/jakerobb">Facebook</a> - I stopped using this as of early 2022</li>
      <li><a href="https://www.instagram.com/robb_jake/">@robb_jake on Instagram</a> - I have never posted and won't likely start</li>
      <li><a href="https://robb.online/">Squarespace blog</a> - I hardly used this; I'll probably make a blog here instead!</li>
    </ul>
  </li>
  <li>Forum User Profiles
    <ul>
      <li><a href="https://www.camaroz28.com/forums/members/jakerobb-54959/">CamaroZ28.com</a></li>
      <li><a href="https://ls1tech.com/forums/member.php?u=56179">LS1tech.com</a></li>
      <li><a href="https://www.tamiyaclub.com/forum/index.php?/profile/59376-jakerobb/">TamiyaClub.com</a></li>
    </ul>
  </li>
  <li>Photo & Video
    <ul>
      <li><a href="https://www.flickr.com/photos/jakerobb/">Flickr</a></li>
      <li><a href="https://www.youtube.com/channel/UCMeEd5Xfzxt0Gp3gy6dfYUQ/">YouTube</a></li>
      <li><a href="https://www.youtube.com/channel/UCzQ67kwItkRRH9JoL6NKR0A/">TrackDad on YouTube</a> - where a few of my friends and I post car videos</li>
    </ul>
  </li>
  <li>Other
    <ul>
      <li><a href="https://www.quora.com/profile/Jake-Robb">Quora</a></li>
      <li><a href="https://medium.com/@jakerobb">Medium</a></li>
      <li><a href="https://www.amazon.com/hz/wishlist/ls/1JEWQ8165VTXE">Amazon wish list</a></li>
    </ul>
  </li>
</ul>
<p>
  My footprints are easily found in numerous other places online, as I've been at this for a very long time.
</p>
