@media only screen and (orientation: portrait) {
  :host nav a {
    display: inline-block;
  }
}

@media only screen and (orientation: landscape) {
  :host nav a {
    display: block !important;
  }
}
