<nav class="topNav">
  <a routerLink="/home" routerLinkActive="current">Home</a>
  <a routerLink="/about" routerLinkActive="current">About</a>
  <nav class="nestedNav" *ngIf="this.router.url.startsWith('/about')">
    <a routerLink="/about/elsewhere" routerLinkActive="current">Elsewhere</a>
    <a href="/resume.html">Resume</a>
  </nav>
  <a routerLink="/blog" routerLinkActive="current">Blog</a>
  <a routerLink="/cars" routerLinkActive="current">Cars</a>
  <nav class="nestedNav" *ngIf="this.router.url.startsWith('/cars')">
    <a routerLink="/cars/camaro" routerLinkActive="current">Camaro</a>
    <a routerLink="/cars/grand-national" routerLinkActive="current">Grand National</a>
    <a routerLink="/cars/calculators" routerLinkActive="current">Calculators</a>
    <nav class="nestedNav" *ngIf="this.router.url.startsWith('/cars/calculators')">
      <a routerLink="/cars/calculators/speed-and-gearing" routerLinkActive="current">Speed and Gearing</a>
      <a routerLink="/cars/calculators/track-fuel-economy" routerLinkActive="current">Track Fuel Economy</a>
      <a routerLink="/cars/calculators/wheel-and-tire-size" routerLinkActive="current">Wheel and Tire Size</a>
    </nav>
  </nav>
  <a routerLink="/meta" routerLinkActive="current">Meta</a>
</nav>
<footer>
  &copy; 2019 Jake Robb
</footer>
