:root {
  --setCount: 2
}

#sets {
  display: inline-grid;
  grid-template-columns: repeat(var(--setCount), 1fr) auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  align-items: start;
  justify-items: start;
}

.inputAndResultSet, .addAnotherCarButton {
  display: inline-block;
  vertical-align: top;
}

.input select {
  width: 12rem;
  font-size: 0.8rem;
}

#carPresets {
  width: auto;
}

.finalDriveRatioLabel {
  line-height: 1.6;
}

td.gearCountButtons, td.finalDriveButtons {
  padding-bottom: 0.7em;

  button {
    margin: 0.2em;
  }
}

.error {
  color: red;
}

.inputAndResultSet > table {
  display: block;
  width: max-content;
}

.input > tbody > tr > td, .input > tbody > tr > th {
  background-color: #d9f1f9;
  vertical-align: top;
}

.collapsedInput > tbody > tr > td {
  padding: 0.15em 0.5em 0 0.7em;
}

.collapseInputLink, .expandInputLink, .copyInputLink, .removeInputLink {
  float: right;
  margin-left: 1.4em;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.collapsedGearRatio {
  display: inline-block;
  width: 3em;
}

.collapsedGearRatio.finalDrive {
  display: inline-block;
  width: 4em;
}

.finalDrive:before {
  content: "/ ";
  font-size: 1.3em;
  position: relative;
  left: -0.5ch;
  top: 0.1em;
}

.presets {
  padding: 0.15em 0.7em;
}

label {
  font-size: inherit;
}

.gearRatioLabel, .gearReductionRatioLabel {
  display: inline-block;
  width: 1.4em;
  text-align: right;
  margin-right: 0.35em;
}

.transmissionRatiosLabel {
  vertical-align: top;
  padding-top: 0.35em;
}

.gearReductionRatiosLabel {
  vertical-align: top;
}

.tooltip {
  width: 50ch;
}

.explanation {
  width: 90ch;
}

#preferences {
  td {
    padding: 0.15em 0.7em;
  }

  th {
    text-align: left;
  }
}


.mphAtRpm {
  td {
    width: 4.5em;
  }

  .notApplicable {
    color: #aaaaaa;
  }

  tr.avoid {
    th, td {
      color: #cc0000;
    }
  }

  tr td.overSpeed {
    color: #aaaaaa;
  }

  .tooltipHoverTarget {
    display: block;
  }

  .tooltipHoverTarget .tooltip, .tooltipText {
    display: none;
  }

  td.overSpeed, td.maybeOverSpeed, td.topGearCruise, td.maxAccel, tr.avoid {
    .tooltip {
      display: inline-block;
      white-space: nowrap;
    }
  }

  td.overSpeed .overSpeedTooltip {
    display: block;
  }

  td.maybeOverSpeed .maybeOverSpeedTooltip {
    display: block;
  }

  td.topGearCruise .topGearCruiseTooltip {
    display: block;
  }

  tr.avoid td.topGearCruise .oopsTooltip {
    display: block;
  }

  td.maxAccel:not(.overSpeed) .maxAccelTooltip {
    display: block;
  }

  tr.avoid .avoidTooltip {
    display: block;
  }

  td.maybeOverSpeed {
    color: #9c4e32;
  }

  td.topGearCruise {
    background-color: #aaddaa !important;
  }


  td, th {
    text-align: right;
  }

  .gearNumber, .rpm {
    font-weight: bold;
  }

  th.gear, th.gearNumber {
    font-weight: bold;
    font-size: 120%;
  }

  tr.bottomGearRow {
    border-top: 0.15em solid #919af5;
  }

  tr:nth-child(odd) {
    td:not(.maxAccel), td.maxAccel.overSpeed {
      background-color: #d1daf5;
    }

    td.maxAccel:not(.overSpeed) {
      background-color: #aaaaff;
    }

    th {
      background-color: #c1caf5;
    }
  }

  tr:nth-child(even) {
    td.maxAccel:not(.overSpeed) {
      background-color: #bbbbff;
    }

    th {
      background-color: #d1daf5;
    }
  }

  thead th {
    background-color: #b1baf5;
  }

  thead {
    border-bottom: 0.15em solid #919af5;
  }
}


@mixin toggleSwitch-branding(
  $toggleSwitch-off-color: #3f637f,
  $toggleSwitch-on-color: #3f637f,
  $toggleSwitch-background-color: #d6dffa,
  $toggleSwitch-inactive-text: rgba(#737cd6, 1)
) {
  .toggleSwitch__switch {
    background-color: $toggleSwitch-background-color;
  }

  input[type="checkbox"] {
    background-color: $toggleSwitch-background-color;

    &[disabled] ~ label {
      color: rgba($toggleSwitch-off-color, 0.5);
    }

    &:focus ~ label, &:hover ~ label {
      .toggleSwitch__switch {
        &:after {
          color: darken($toggleSwitch-off-color, 10%);
        }
      }
    }

    &:hover ~ label {
      color: darken($toggleSwitch-off-color, 5%);
    }

    &:checked {
      ~ label {
        &:hover {
          color: darken($toggleSwitch-on-color, 3%);
        }

        .toggleSwitch__switch {
          &:after {
            color: darken($toggleSwitch-on-color, 5%);
          }
        }
      }

      &:focus, &:hover {
        ~ label {
          .toggleSwitch__switch {
            background-color: $toggleSwitch-background-color;

            &:after {
              color: darken($toggleSwitch-on-color, 10%);
            }
          }
        }
      }
    }
  }

  label {

    .toggleSwitch__label-text {
      flex: 1;
    }

    .toggleSwitch__switch {
      &:before {
        color: $toggleSwitch-inactive-text;
      }

      &:after {
        color: $toggleSwitch-off-color;
      }
    }

  }
}

@mixin toggleSwitch-appearance(
  $toggleSwitch-width: 10em,
  $toggleSwitch-height: 2.5em,
  $toggleSwitch-border-radius: 0.4em,
  $toggleSwitch-offset: 0.3em,
  $toggleSwitch-label-font-size: 0.8rem,
  $toggleSwitch-switch-font-size: 0.8rem,
  $toggleSwitch-shadow: 0 0.1em 0.15em 0 hsla(0, 0%, 0%, 0.15)
) {
  $toggleSwitch-switch-width: $toggleSwitch-width/2;

  width: $toggleSwitch-width;

  input[type="checkbox"] {
    &:checked {
      ~ label {
        .toggleSwitch__switch {
          &:after {
            transform: translate3d($toggleSwitch-width - ($toggleSwitch-switch-width + $toggleSwitch-offset), 0, 0);
          }
        }
      }
    }
  }

  label {
    font-size: $toggleSwitch-label-font-size;

    .toggleSwitch__switch {
      height: $toggleSwitch-height;
      flex: 0 0 $toggleSwitch-width;
      border-radius: $toggleSwitch-border-radius;

      &:before {
        left: $toggleSwitch-width/2;
        font-size: $toggleSwitch-switch-font-size;
        width: $toggleSwitch-width/2;
        height: $toggleSwitch-height - $toggleSwitch-offset;
        padding: 0.75em;
      }

      &:after {
        top: $toggleSwitch-offset;
        left: $toggleSwitch-offset;
        border-radius: $toggleSwitch-border-radius/2;
        width: $toggleSwitch-switch-width - $toggleSwitch-offset;
        font-size: $toggleSwitch-switch-font-size;
        font-weight: bold;
        padding: ($toggleSwitch-height - 1) / 2 - $toggleSwitch-offset 0;
      }

      &:hover {
        &:after {
          box-shadow: $toggleSwitch-shadow;
        }
      }
    }
  }
}


.toggleSwitch {
  position: relative;
  //overflow: hidden;

  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    &[disabled] ~ label {
      pointer-events: none;

      .toggleSwitch__switch {
        opacity: 0.4;
      }
    }

    &:checked {
      ~ label {

        .toggleSwitch__switch {

          &:before {
            content: attr(data-unchecked);
            left: 0;
          }

          &:after {
            content: attr(data-checked);
          }
        }
      }

      &:focus, &:hover {
        ~ label {
        }
      }
    }
  }

  label {
    user-select: none;
    position: relative;
    display: flex;

    .toggleSwitch__label-text {
      flex: 1;
      padding-left: 32px;
    }

    .toggleSwitch__switch {
      position: relative;

      &:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center;
      }

      &:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0, 0, 0);
      }

    }

  }

  // Default values for .toggleSwitch class
  @include toggleSwitch-branding;
  @include toggleSwitch-appearance;
}

.mphByRpmCanvasWrapper {
  background: #ebf4ff;
  box-shadow: 0 0.2em 0.15em 0 rgba(0, 0, 0, 0.15);
  margin: 0.3em;
  padding: 0.3em;
}

.mphByRpmCanvas {
  display: block;
  background: transparent;
}
