<p class="explanation clearfix">
  This calculator helps you visualize the relationship between speed, gear, and RPM. This is useful if you want to determine the impact of tire size
  and gearing changes on your shift points, your power band relative to your MPH in each gear, etc.
</p>

<div id="preferences">
  <table>
    <tbody class="preferences">
    <tr>
      <td colspan="3" class="inputHeading">Preferences</td>
    </tr>
    <tr>
      <th class="inputLabel"><label for="rpmInterval">RPM interval<span class="rpmIntervalTooltip tooltipHoverTarget explanationTooltipIcon">❓<span
        class="tooltip">We'll calculate values for each RPM at this interval. For more detail, enter a smaller number here.</span></span></label></th>
      <th class="inputLabel"><label for="topGearCruiseMph">Top Gear Cruise<span class="topGearCruiseTooltip tooltipHoverTarget explanationTooltipIcon">❓<span
        class="tooltip">If this is a street-driven car, you probably have a speed you like to go on the highway. If you do, put it here. It will be highlighted in green for you below.</span></span></label>
      </th>
      <th class="inputLabel"><label for="avoidRpm">RPM to Avoid <span class="avoidRpmTooltip tooltipHoverTarget explanationTooltipIcon">❓<span class="tooltip">Maybe your exhaust drones at a certain RPM, or something in your interior resonates, or whatever. If there's an RPM you'd like to avoid, put it here. It will be highlighted in red for you below.</span></span></label>
      </th>
      <th class="inputLabel"><label for="graphOption">Render as</label>
      </th>
    </tr>
    <tr>
      <td class="inputData">
        <input id="rpmInterval" [(ngModel)]="preferences.rpmInterval" type="number" min="10" max="1000" (change)="onChangePreferences()" step="10">
        <span class="unitLabel"> rpm</span><br>
      </td>
      <td class="inputData">
        <input type="checkbox" [(ngModel)]="preferences.topGearCruiseEnabled" (change)="onChangePreferences()">
        <input id="topGearCruiseMph" [disabled]="!preferences.topGearCruiseEnabled" [(ngModel)]="preferences.topGearCruiseMph" type="number" min="1" max="300"
               (change)="onChangePreferences()">
        <span class="unitLabel"> mph</span>
      </td>
      <td class="inputData">
        <input type="checkbox" [(ngModel)]="preferences.avoidRpmEnabled" (change)="onChangePreferences()">
        <input id="avoidRpm" [disabled]="!preferences.avoidRpmEnabled" [(ngModel)]="preferences.avoidRpm" type="number" (change)="onChangePreferences()"
               min="100" max="20000" step="50">
        <span class="unitLabel"> rpm</span>
      </td>
      <td class="inputData">
        <div class="toggleSwitch">
          <input id="graphOption" type="checkbox" [(ngModel)]="preferences.renderAsTable" (change)="onChangePreferences()">
          <label for="graphOption">
            <div class="toggleSwitch__switch" data-checked="Table" data-unchecked="Graph"></div>
          </label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div @list id="sets">
  <ng-container @items class="inputAndResultSet" *ngFor="let set of sets; let setIndex = index; trackBy: uniqueId">
    <table id="compactInputs{{setIndex}}" class="input collapsedInput" *ngIf="!set.showInputDetails">
      <thead>
      <tr>
        <th>
          Inputs
        </th>
        <th>
          <span class="copyInputLink clickable" (click)="cloneCar(setIndex)">Copy ></span>
          <span class="expandInputLink clickable" (click)="set.expandInputs()">Expand</span>
          <span *ngIf="sets.length > 1" class="removeInputLink clickable" (click)="removeCar(setIndex)">Remove</span>
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngIf="set.preset !== undefined">
          <td colspan="2">
            {{set.preset}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <span class="collapsedGearRatio" *ngFor="let gearRatio of set.carSpec.gearRatios">{{gearRatio | number:'1.2-3'}} </span>
            <span class="collapsedGearRatio finalDrive" *ngFor="let gearRatio of set.carSpec.finalDriveRatios">{{gearRatio | number:'1.2-3'}}</span>
          </td>
        </tr>
        <tr>
          <td>
            {{set.carSpec.tireSpec.specParameters.join('/')}}R{{set.carSpec.tireSpec.wheelDiameterInches}} {{set.carSpec.tireSpec.speedRating.symbol}}
          </td>
          <td>
            {{set.carSpec.minimumRpm}} - {{set.carSpec.maximumRpm}} rpm
          </td>
        </tr>
      </tbody>
    </table>
    <table id="inputs{{setIndex}}" class="input expandedInput" *ngIf="set.showInputDetails">
      <thead>
        <tr>
          <th colspan="2">
            Inputs
            <span class="copyInputLink clickable" (click)="cloneCar(setIndex)">Copy ></span>
            <span class="collapseInputLink clickable" (click)="set.collapseInputs()">Collapse</span>
            <span *ngIf="sets.length > 1" class="removeInputLink clickable" (click)="removeCar(setIndex)">Remove</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="presets" colspan="2">
            <label for="carPresets">Presets <span class="presetsTooltip tooltipHoverTarget explanationTooltipIcon">❓<span class="tooltip">Want your car added to the presets? Email me and ask nicely, or submit a pull request. Specify as much detail as you can so I can get it right. You might need to do a bit of legwork to find my email address. 🙂</span></span></label>
            <select id="carPresets" [(ngModel)]="set.preset" (change)="set.applyPreset(preferences)">
              <option value="">Select a preset to prepopulate vehicle data</option>
              <option *ngFor="let item of allCarPresets | keyvalue:sortAlphaAscending" value="{{item.key}}">{{item.key}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td rowSpan="3">
            <table>
              <tbody class="gearRatios">
                <tr>
                  <td colspan="2" class="inputHeading">Gear Ratios</td>
                </tr>
                <tr>
                  <th class="inputLabel gearReductionRatiosLabel">
                    <label for="finalDriveRatio1_set{{setIndex}}" class="finalDriveRatioLabel">
                      Final Drive
                      <span *ngIf="set.carSpec.finalDriveRatios.length == 2">
                        <br>
                        Gear Reduction
                      </span>
                      <span *ngIf="set.carSpec.finalDriveRatios.length > 2">
                        <br>
                        Gear Reductions
                      </span>
                  </label></th>
                  <td class="inputData">
                    <div *ngFor="let finalDriveRatio of set.carSpec.finalDriveRatios; let gearNumber = index; trackBy: indexIdentity">
                      <span *ngIf="gearNumber != 0" class="gearReductionRatioLabel">
                        <label for="finalDriveRatio{{gearNumber + 1}}_set{{setIndex}}">{{gearNumber}}: </label>
                      </span>
                      <input id="finalDriveRatio{{gearNumber + 1}}_set{{setIndex}}" [(ngModel)]="set.carSpec.finalDriveRatios[gearNumber]" (change)="set.onChange(preferences)"
                             type="number" min="0.01" max="10.00" step="0.01">
                      <span class="unitLabel">:1</span>
                      <button (click)="set.removeGearReduction(preferences, gearNumber)" [disabled]="set.carSpec.finalDriveRatios.length < 2" class="emojiButton">❌</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="finalDriveButtons">
                    <button (click)="set.addGearReduction(preferences)">Add a gear reduction</button>
                  </td>
                </tr>
                <tr>
                  <th class="inputLabel transmissionRatiosLabel">Transmission Ratios</th>
                  <td class="inputData">
                    <div *ngFor="let gearRatio of set.carSpec.gearRatios; let gearNumber = index; trackBy: indexIdentity">
                      <span class="gearRatioLabel">
                        <label for="gearRatio{{gearNumber + 1}}_set{{setIndex}}">{{gearNumber + 1}}: </label>
                      </span>
                      <input id="gearRatio{{gearNumber + 1}}_set{{setIndex}}" [(ngModel)]="set.carSpec.gearRatios[gearNumber]" (change)="set.onChange(preferences)"
                             type="number" min="0.01" max="10.00" step="0.01"
                             class="{{(set.carSpec.gearRatios[gearNumber] - set.carSpec.gearRatios[gearNumber - 1]) >= 0 ? 'error' : ''}}">
                      <span class="unitLabel">:1</span>
                      <button (click)="set.removeGear(preferences, gearNumber)" [disabled]="set.carSpec.gearRatios.length < 2" class="emojiButton">❌</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td class="gearCountButtons">
                    <button (click)="set.addGear(preferences)" [disabled]="set.carSpec.gearRatios[set.carSpec.gearRatios.length - 1] == 0.01">Add a gear</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table>
              <tbody class="tires">
                <tr>
                  <td colspan="2" class="inputHeading">Tires</td>
                </tr>
                <tr>
                  <th class="inputLabel"><label for="tireSizeSpecType{{setIndex}}">Tire Size Spec Type</label></th>
                  <td class="inputData">
                    <select id="tireSizeSpecType{{setIndex}}" class="tireSizeSpecType" [(ngModel)]="set.carSpec.tireSpec.specType">
                      <option value="passengerCarStandard">Passenger car standard (e.g. 275/40R17 – common on street tires)</option>
                      <option value="metricMeasurements">Metric (e.g. 275/645R17 – common on road-race tires)</option>
                      <option value="inchMeasurements">Inch (e.g. 31/10.5R15 – common on off-road and drag-race tires)</option>
                    </select>
                  </td>
                </tr>
                <tr *ngIf="set.carSpec.tireSpec.specType == 'passengerCarStandard'">
                  <th class="inputLabel"><label for="sectionWidthMillimeters{{setIndex}}">Driven Tire Size</label></th>
                  <td class="inputData">
                    <input id="sectionWidthMillimeters{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.sectionWidthMillimeters" type="number" min="135" max="395" (change)="set.onChange(preferences)" step="10">
                    <span class="unitLabel"><label for="profileHeightPercentage{{setIndex}}">/ </label></span>
                    <input id="profileHeightPercentage{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.profileHeightPercentage" type="number" min="10" max="90" (change)="set.onChange(preferences)" step="5">
                    <span class="unitLabel"><label for="wheelDiameter{{setIndex}}"> R </label></span>
                    <input id="wheelDiameter{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.wheelDiameterInches" type="number" min="13" max="30" (change)="set.onChange(preferences)" step="1">
                  </td>
                </tr>
                <tr *ngIf="set.carSpec.tireSpec.specType == 'metricMeasurements'">
                  <th class="inputLabel"><label for="sectionWidthMillimeters{{setIndex}}">Driven Tire Size</label></th>
                  <td class="inputData">
                    <input id="sectionWidthMillimeters{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.sectionWidthMillimeters" type="number" min="135" max="395" (change)="set.onChange(preferences)" step="10">
                    <span class="unitLabel"><label for="tireDiameterMillimeters{{setIndex}}">/ </label></span>
                    <input id="tireDiameterMillimeters{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.tireDiameterMillimeters" type="number" min="100" max="1000" (change)="set.onChange(preferences)" step="5">
                    <span class="unitLabel"><label for="wheelDiameter{{setIndex}}"> R </label></span>
                    <input id="wheelDiameter{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.wheelDiameterInches" type="number" min="13" max="30" (change)="set.onChange(preferences)" step="1">
                  </td>
                </tr>
                <tr *ngIf="set.carSpec.tireSpec.specType == 'inchMeasurements'">
                  <th class="inputLabel"><label for="tireDiameterInches{{setIndex}}">Driven Tire Size</label></th>
                  <td class="inputData">
                    <input id="tireDiameterInches{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.tireDiameterInches" type="number" min="4" max="60" (change)="set.onChange(preferences)" step="0.5">
                    <span class="unitLabel"><label for="sectionWidthInches{{setIndex}}">/ </label></span>
                    <input id="sectionWidthInches{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.sectionWidthInches" type="number" min="4" max="16" (change)="set.onChange(preferences)" step="0.5">
                    <span class="unitLabel"><label for="wheelDiameter{{setIndex}}"> R </label></span>
                    <input id="wheelDiameter{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.wheelDiameterInches" type="number" min="13" max="30" (change)="set.onChange(preferences)" step="1">
                  </td>
                </tr>
                <tr>
                  <th class="inputLabel"><label for="speedRating{{setIndex}}">Speed Rating</label></th>
                  <td class="inputData">
                    <select id="speedRating{{setIndex}}" [(ngModel)]="set.carSpec.tireSpec.speedRatingSymbol" (change)="set.onChange(preferences)">
                      <option *ngFor="let speedRating of allSpeedRatings" value="{{speedRating.symbol}}">{{speedRating.symbol}} ({{speedRating.maxMph}}{{speedRating.plus ? "+" : ""}} mph)</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th class="inputLabel">Profile Height</th>
                  <td class="outputData">
                    <span id="profileHeightInches{{setIndex}}">{{set.result.carSpec.tireSpec.profileHeightInches | number:'1.2-2'}}</span>
                    <span class="unitLabel"> inches</span>
                    /
                    <span id="profileHeightMillimeters{{setIndex}}">{{set.result.carSpec.tireSpec.profileHeightMillimeters | number:'1.1-1'}}</span>
                    <span class="unitLabel"> mm</span>
                    <span *ngIf="set.carSpec.tireSpec.specType !== 'passengerCarStandard'">
                      <span class="unitLabel"> (</span>
                      <span>{{set.result.carSpec.tireSpec.profileHeightPercentage | number:'1.0-0'}}</span>
                      <span class="unitLabel">%)</span>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th class="inputLabel">Tire Diameter</th>
                  <td class="outputData">
                    <span id="tireDiameterInchesOutput{{setIndex}}">{{set.result.carSpec.tireSpec.tireDiameterInches | number:'1.2-2'}}</span>
                    <span class="unitLabel"> inches</span>
                    /
                    <span id="tireDiameterMillimetersOutput{{setIndex}}">{{set.result.carSpec.tireSpec.tireDiameterMillimeters | number:'1.1-1'}}</span>
                    <span class="unitLabel"> mm</span>
                  </td>
                </tr>
                <tr>
                  <th class="inputLabel">Tire Circumference</th>
                  <td class="outputData">
                    <span id="tireCircumferenceInches{{setIndex}}">{{set.result.carSpec.tireSpec.tireCircumferenceInches | number:'1.2-2'}}</span>
                    <span class="unitLabel"> inches</span>
                    /
                    <span id="tireCircumferenceMillimeters{{setIndex}}">{{set.result.carSpec.tireSpec.tireCircumferenceMillimeters | number:'1.1-1'}}</span>
                    <span class="unitLabel"> mm</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tbody id="calculationRanges">
                <tr>
                  <td colspan="2" class="inputHeading">Calculation Range</td>
                </tr>
                <tr>
                  <th class="inputLabel"><label for="minimumRpm{{setIndex}}">Minimum RPM</label></th>
                  <td class="inputData">
                    <input id="minimumRpm{{setIndex}}" [(ngModel)]="set.carSpec.minimumRpm" type="number" min="0" max="5000" (change)="set.onChange(preferences)" step="50">
                    <span class="unitLabel"> rpm</span><br>
                  </td>
                </tr>
                <tr>
                  <th class="inputLabel"><label for="maximumRpm{{setIndex}}">Maximum RPM</label></th>
                  <td class="inputData">
                    <input id="maximumRpm{{setIndex}}" [(ngModel)]="set.carSpec.maximumRpm" type="number" min="1000" max="20000" (change)="set.onChange(preferences)" step="50">
                    <span class="unitLabel"> rpm</span><br>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!preferences.renderAsTable" class="mphByRpmCanvasWrapper">
      <canvas #mphByRpmCanvas id="graph{{setIndex}}" class="mphByRpmCanvas output" width="715" height="500"></canvas>
    </div>

    <table *ngIf="preferences.renderAsTable" id="mphAtRpm{{setIndex}}" class="mphAtRpm output">
      <thead>
        <tr>
          <th>Gear</th>
          <th *ngFor="let gear of set.carSpec.gears" class="gearNumber">{{gear.gearNumber}}</th>
        </tr>
        <tr>
          <th>Ratio :1</th>
          <td *ngFor="let gear of set.carSpec.gears" class="gearRatio">{{gear.gearRatio | number:'1.2-3'}}</td>
        </tr>
        <tr>
          <th>Tire Revs / Engine Rev</th>
          <td *ngFor="let gear of set.carSpec.gears" class="tireRevsPerEngineRev">{{gear.tireRevsPerEngineRev | number:'1.3-3'}}</td>
        </tr>
        <tr>
          <th>MPH / RPM</th>
          <td *ngFor="let gear of set.carSpec.gears" class="mphPerRpm">{{gear.mphPerRpm | number:'1.3-3'}}</td>
        </tr>
        <tr>
          <th>Ratio Spread</th>
          <td *ngFor="let gear of set.carSpec.gears" class="ratioSpread {{gear.ratioSpreadFromPreviousGear == 0 ? 'notApplicable' : ''}}">{{gear.ratioSpreadFromPreviousGear == 0 ? "&ndash;" : gear.ratioSpreadFromPreviousGear | number:'1.3-3'}}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="rpm">RPM</th>
          <th *ngFor="let gear of set.carSpec.gears" class="gearNumber">{{gear.gearNumber}}</th>
        </tr>
        <tr *ngFor="let mphRow of set.result.mphTable" class="mphRow {{mphRow.avoid ? 'avoid' : ''}}">
          <th class="rpm">{{mphRow.rpm}}</th>
          <td *ngFor="let entry of mphRow.mphByGear; let lastGear = last; let gearIndex = index" class="mph {{set.result.roundedTopGearCruiseRpm == mphRow.rpm && lastGear ? 'topGearCruise' : ''}} {{mphRow.rpm >= entry.gear.shiftFromPreviousGearRpm ? 'maxAccel' : ''}} {{entry.overSpeed == 'true' ? 'overSpeed' : entry.overSpeed == 'maybe' ? 'maybeOverSpeed' : ''}} {{entry.maybeOverSpeed ? 'maybeOverSpeed' : ''}}">
            <span class="tooltipHoverTarget">
              {{entry.mph | number:'1.2-2'}}
              <span class="tooltip">
                <span class="tooltipText overSpeedTooltip">{{entry.mph | number:'1.0-0'}} mph is too fast for your tires.</span>
                <span class="tooltipText maybeOverSpeedTooltip">{{entry.mph | number:'1.0-0'}} mph might be too fast for your tires.</span>
                <span class="tooltipText topGearCruiseTooltip">Your top-gear cruising speed will be at about {{set.result.topGearCruiseRpm | number:'1.0-0'}} rpm.</span>
                <span class="tooltipText maxAccelTooltip">Maximum acceleration!!</span>
                <span class="tooltipText avoidTooltip">Avoid ~{{entry.mph | number:'1.0-0'}} mph in {{ordinalGearFromIndex(gearIndex)}} gear.</span>
                <span class="tooltipText oopsTooltip">Oops, maybe not a good combination. 😜</span>
              </span>
            </span>
          </td>
        </tr>
        <tr class="bottomGearRow">
          <th class="gear">Gear</th>
          <th *ngFor="let gear of set.carSpec.gears" class="gearNumber">{{gear.gearNumber}}</th>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <div class="addAnotherCarButton">
    <button (click)="addCar()">Add another car</button>
  </div>
</div>
