a {
  padding: 0;
}

@media only screen and (orientation: portrait) {
  #everything {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  #everything {
    display: flex;
  }

  #menu, #main {
    flex-direction: column;
  }

  #menu {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    margin-right: 0.7em;
  }

  #main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}
