<h1>Technology</h1>
<p>
  This site is developed using <a href="https://angular.io/">Angular 8</a>. <a href="https://bitbucket.org/jakerobb/jakerobb-dev">Source code is in BitBucket</a>, and
  <a href="https://bitbucket.org/jakerobb/jakerobb-dev/addon/pipelines/home#!/">continuous integration and delivery comes from BitBucket Pipelines</a>.
</p>
<p>
  It's hosted on a <a href="https://www.linode.com/pricing">"nanode" virtual machine</a> at <a href="https://www.linode.com/">Linode</a> running
  <a href="https://www.centos.org/">CentOS 7</a> and <a href="https://github.com/nginx/nginx">nginx 1.16.0</a>.
</p>
<p>
  Domain name services are provided by <a href="https://www.hover.com">Hover</a>.
</p>
<p>
  TLS certificates are generated directly into nginx using the certbot utility from <a href="https://letsencrypt.org/">Let's Encrypt</a>.
</p>
<h1>Update cadence</h1>
<p>
  This site is a labor of love, and it is not particularly high on my priority list. I update it when time permits -- sometimes taking years between each update!
</p>
<h1>Linking</h1>
<p>
  If you find any of the pages here valuable, I would love it if you linked to them. Please don't hotlink my images without express permission. I reserve the right
  to break such hotlinks.
</p>
<h1>Contributions</h1>
<p>
  If you just want to improve on what I have here without running your own server, I would love to receive pull requests. No promises on how quickly I'll
  respond, as this site is done entirely in my limited spare time.
</p>
<h1>Licensing</h1>
<p>
  This site and its contents are &copy; 2019 Jake Robb (me). The source is governed by the <a href="https://choosealicense.com/licenses/agpl-3.0/#">GNU Affero
  General Public License version 3.0 (AGPLv3)</a>. At the time I chose it, this was the strongest available "copyleft" license, which feels like the right
  approach. I'd appreciate feedback if anyone thinks this is a mistake.
</p>
<h1>Support Me</h1>
<p>
  If you like what I've done here and want to support me, thanks! I plan to set up a Patreon or similar in the near future, with expectations of generating
  approximately $0/year in income. If I'm lucky, maybe someday I'll cover my $5/month in hosting costs.
</p>
<h1>Stats</h1>
<p>
  You can check out my web stats <a href="/stats.html">here</a>. Something's borked with them right now, so you might not get up-to-date stats. I could just use
  Google Analytics or any number of other cloud-based web analytics stacks, but I try not to feed the machine if I can avoid it. I'd rather just run something
  that parses my access logs.
</p>
