<div *ngIf="this.router.url === '/cars/calculators'">
  <p>
    Pick a calculator from the menu.
  </p>
  <p>
    These are tools I've built for my own use. Several of them originated in an Excel spreadsheet, and then later
    in a Google Sheets document so that I could share them easily with others and still make improvements, but
    the more complex calculations take <em>forever</em> to finish in Sheets, and there's very little indication in
    the UI that the numbers currently on display are not yet up to date. That was frustrating, and I finally got
    fed up with it enough to roll my own!
  </p>

  <h1>Other Resources I Like</h1>
  <ul>
    <li><a href="https://geargenerator.com/">Gear Generator</a> - design, spec, and animate a series of involute spur gears, with CAD export</li>
  </ul>
</div>
<router-outlet></router-outlet>
