body {
  background: white;
  color: #000011;
  font-family: Helvetica, sans-serif;
  font-size: .13in;
  padding: 0;
  margin: 0;
  width: 8.5in;
  float: left;
}

div, span {
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0.1in;
}

a {
  text-decoration: none;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: .13in;
  padding: 0 .1in .1in 0;
  margin: 0;
}

.header {
  grid-row: 1;
  background-color: #eef5ff;
  padding: 0.2in 0;
}

.curlyBrace {
  font-size: 500%;
  text-align: center;
}

#leftCurlyBrace {
  grid-column: 1;
}

#rightCurlyBrace {
  grid-column: 4;
}

#contactInfo {
  padding-left: 0.1in;
  grid-column: 2;
  font-size: 120%;
  white-space: nowrap;
}

#downloadLinkAndJobSeekingStatus, #qrCode {
  grid-column: 3;
  z-index: 1;
}

#downloadLinkAndJobSeekingStatus {
  padding: 0.3in 0;
  text-align: right;
}

#jobSeekingStatus {
  margin-top: 0.3in;
}

#qrCode {
  padding: 0;
  text-align: right;
}

#qrCode img {
  padding: 0.15in 0 0 0;
  height: 1in;
  width: 1in;
}

#body {
  display: grid;
  grid-template-columns: 1fr 5fr 3fr 1fr;
}

#body .section:last-child {
  padding-bottom: 0.5in;
}

.sectionLabel {
  grid-column: 1;
  width: 1.1in;
  background-color: #eef5ff;
}

.sectionLabelText {
  font-size: 90%;
  font-weight: bold;
  padding: 0.1in .1in 0 0;
  text-align: right;
  text-transform: uppercase;
  page-break-inside: avoid;
}

.section {
  clear: both;
  padding: 0.1in .1in 0 0.1in;
  width: 7.5in;
  grid-column-start: 2;
  grid-column-end: 5;
}

#onlinePresence {
  margin-bottom: 2px;
}

img.presenceIcon {
  height: 0.2in;
  width: 0.2in;
}

.timeFrame, .companyName, .schoolName, .location {
  float: left;
  width: 2in;
}

.title, .program {
  float: left;
  clear: both;
}

.experienceItem, .educationItem {
  padding: 0 0 0.1in 0;
  page-break-inside: avoid;

}

.presenceItem, .interestItem, .skillItem {
  padding: 0 0 2px 0;
}

.description {
  clear: both;
  padding-top: .05in;
}

.program, .title, .skillHeading, .presenceLabel {
  font-size: 90%;
  font-weight: bold;
}

.program, .title, .skillHeading {
  text-transform: uppercase;
}

.skillHeading span, .skillItem span {
  display: inline-block;
}

.skillHeading span, .skillItem span:nth-child(1) {
  width: 4in;
}

.presenceItem {
  display: block;
}

.presenceItem span {
  display: inline-block;
}

.presenceItem .presenceLabel {
  width: 1in;
  text-align: right;
  color: black;
}

.presenceItem .presenceIcon {
  padding: 0 0.1in;
  vertical-align: bottom;
}

.interestItem {
  display: block;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }

  a:visited {
    color: blue;
  }

  .presenceIcon {
    display: none;
    vertical-align: baseline;
  }
}

@media screen {
  .print-only, .print-only * {
    display: none !important;
  }

  .social .presenceLabel {
    display: none !important;
  }

  .presenceItem {
    display: inline-block;
  }

  .presenceUrl {
    margin-right: 0.15in;
  }

  .presenceItem .presenceLabel {
    width: 0.75in;
  }

  .social .presenceUrl {
    display: none !important;
  }
}
