body {
  background: white;
  color: #000011;
  font-family: Helvetica, sans-serif;
  font-size: 0.13in;
  padding: 0;
  margin: 0;
}

body, body * {
  box-sizing: border-box;
}

div, span {
  padding: 0;
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0.1in;
}

a {
  text-decoration: none;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 0.13in;
  padding: 0 0.1in 0.1in 0;
  margin: 0;
}

.no-page-breaks {
  page-break-inside: avoid;
}

.center-vertically {
  display: flex;
  align-items: center;
}

#heading {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  background-color: #eef5ff;
  column-gap: 0.2in;
  white-space: nowrap;
}

.curlyBrace {
  font-size: 800%;
  text-align: center;
  padding-bottom: 0.2in;
}

#leftCurlyBrace {
  grid-column: 1;
}

#rightCurlyBrace {
  grid-column: 5;
}

#leftContent {
  grid-column: 2;
  justify-self: left;
}

#title {
  display: flex;
  flex-direction: column;
  gap: 0.05in;
}

#name {
  font-size: 150%;
  font-weight: bold;
}

.seekingTitle {
  text-transform: none;
  font-weight: normal;
  float: none;
  font-size: 120%;
}

.experience {
  font-style: italic;
}

#middleContent {
  display: flex;
  text-align: center;
  width: 100%;
  align-items: center;
  grid-column: 3;
  justify-self: center;
}

#contactInfo {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
}

#rightContent {
  grid-column: 4;
  font-size: 120%;
  white-space: nowrap;
  grid-row-start: 1;
  justify-self: right;
}

#downloadLinkAndJobSeekingStatus, #qrCode {
  z-index: 1;
}

#downloadLinkAndJobSeekingStatus {
  text-align: right;
}

#jobSeekingStatus {
  font-style: italic;
  margin-top: 0.3in;
}

#qrCode {
  padding: 0;
  float: right;
}

#qrCode img {
  height: 1in;
  width: 1in;
}

#bodyWrapper  {
  margin: 0 auto;
  width: 100%;
  background-color: #fcfcfc;
}

div#body {
  width: 8.5in;
  margin: 0 auto;
  background-color: white;
}

#body .section:last-child {
  padding-bottom: 0.5in;
}

.sectionLabel {
  font-size: 140%;
  font-weight: bold;
  padding: 0 0.1in 0.1in 0;
}

.section {
  clear: both;
  padding: 0.1in 0.3in;
  width: 8.5in;
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: white;
}

#onlinePresence {
  margin-bottom: 2px;
}

img.presenceIcon {
  height: 0.2in;
  width: 0.2in;
}

.jobTitle, .program, .companyName, schoolName, .location {
  white-space: nowrap;
}

.jobTitle, .program {
  float: left;
  clear: both;
}

.jobTitle:after, .program:after {
  content: '	';
}

.companyName:after, .schoolName:after {
  font-style: normal;
  content: '	|	';
  padding: 0 0.08in;
}

.companyName, .schoolName, .location {
  font-style: italic;
  float: left;
}

.companyName, .schoolName {
  clear: left;
}

.location {
  clear: right;
}

.timeFrame {
  float: right;
  text-align: right;
}

.experienceItem, .educationItem {
  padding: 0 0 0.1in 0;
  page-break-inside: avoid;
}

.experienceItem ul, .educationItem ul {
  padding-inline-start: 0.25in;
}

.presenceItem, .interestItem, .skillItem {
  padding: 0 0 2px 0;
}

.description {
  clear: both;
  padding-top: 0.05in;
}

.program, .jobTitle, .presenceLabel {
  font-weight: bold;
}

.program, .presenceLabel {
  font-size: 90%;
}

.program, .jobTitle {
  text-transform: uppercase;
}

.skillItem span {
  display: inline-block;
}

.skillItem span:nth-child(1) {
  width: 5in;
}

.presenceItem {
  display: block;
}

.presenceItem span {
  display: inline-block;
}

.presenceItem .presenceLabel {
  width: 1in;
  text-align: right;
  color: black;
}

.presenceItem .presenceIcon {
  margin: 0 0.1in;
  vertical-align: bottom;
}

.interestItem {
  display: block;
}

.keywords {
  padding-top: 0.1in;
}

.experienceItem .keywords {
  padding-top: 0;
  padding-bottom: 0.1in;
  padding-left: 0.1in;
}

.keyword {
  background-color: #e9e9e9;
  display: inline-block;
  padding: 0.02in 0.1in;
  margin: 0.02in;
  white-space: nowrap;
}

.keyword:after {
  content: ',';
  color: #e9e9e9;
}

.keyword:last-child:after {
  content: '';
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }

  a:visited {
    color: blue;
  }

  .presenceIcon {
    display: none;
    vertical-align: baseline;
  }

  #bodyWrapper {
    background-color: white;
  }
}

@media screen {
  .print-only, .print-only * {
    display: none !important;
  }

  .social .presenceLabel {
    display: none !important;
  }

  .presenceItem {
    display: inline-block;
  }

  .presenceUrl {
    margin-right: 0.15in;
  }

  .presenceItem .presenceLabel {
    width: 0.75in;
  }

  .social .presenceUrl {
    display: none !important;
  }
}
