*, *:before, *:after {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: #f0f2f5;
  color: black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: inherit;
}

a, a:visited {
  color: #3f637f;
}

a:hover {
  color: #006ef5;
}

#menu {
  font-size: 1.4em;
}

#menu, nav {
  background: #dce7f5;
  font-weight: bold;
  a {
    padding-bottom: 0.3em;
  }
}

#menu nav.topNav {
  font-size: 100%;
  padding: 0.8em;
}

.nestedNav {
  font-size: 85%;
  padding-left: 1em;
  margin-top: 0;
  padding-top: 0;
}

#menu nav nav nav {
  font-size: 85%;
}

#main {
  padding: 0.7em;
  overflow: auto;
}

footer {
  padding: 0.4em;
  color: #000;
  background-color: #dce7f5;
  font-size: 0.8rem;
}

@media only screen and (orientation: portrait) {
  #menu:after {
    overflow: auto;
    content: "";
    clear: both;
  }

  #menu a {
    padding-right: 1em;
  }


  #menu nav {
    float: left;
    width: 100%;
    margin: 0;
  }

  #menu nav nav {

  }

  footer {
    position: absolute;
    top: 0.7em;
    right: 0;
    z-index: 1;
  }
}

@media only screen and (orientation: landscape) {
  #menu {
    display: flex;
    flex-direction: column;
  }
  #menu>nav {
    flex: 1 0 auto;
  }
  footer {
    flex-shrink: 0;
    width: auto;
    text-align: center;
  }
}


nav a.current {
  color: #006ef5;
}

p {
  padding: 0 0.1in 0.1in 0;
  margin: 0;
}

.explanation {
  display: block;
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

th, td {
  padding: 0.15em 0.7em 0.15em 0;
}

th {
  text-align: right;
  padding: 0.15em 0.7em;
  font-weight: normal;
}

td {
  text-align: left;
}

table {
  display: inline-block;
  margin: 0.3em;

  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: top;
  background: #e1eaf5;
  box-shadow: 0 0.2em 0.15em 0 hsla(0, 0%, 0%, 0.15);
}

thead th {
  font-size: 120%;
  font-weight: bold;
  text-align: left;
}

table.input {
  thead th {
    color: #3f637f;
    background-color: #8de2ff;
    border-bottom: 0.15em solid #77b4cb;
  }
}

.unitLabel {
  font-size: 0.75em;
}

input, select {
  font-size: inherit;
}

input {
  margin-right: 0.25ch;
}

button {
  font-size: 0.85rem;
  margin: 0.35rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.25rem;
  background: white;
  box-shadow: 0 0.1em 0.15em 0 hsla(0, 0%, 0%, 0.15);
}

button.emojiButton {
  border: none;
  padding: 0;
  background: transparent;
  font-size: 0.5rem;
}

input[type=number] {
  text-align: right;
}

.dollars {
  display: inline-block;
  position: relative;
}

.dollars input {
  padding-left: 0.3em;
}

.dollars:before {
  font-size: 1em;
  position: absolute;
  content: "$";
  left: 1ch;
  top: 0.2em;
}

tr td.inputHeading {
  font-size: 1em;
  font-weight: bold;
  padding: 0.13em 0.1em 0.1em 0.5em;
}

$odd: #166e8a;
$even: #0d4e7c;

@mixin color ($color) {
  $textColor: $color;
  $bgColor: lighten($color, 60%);

  background-color: $bgColor;
  color: $textColor;
  p {
    color: $textColor;
  }
}

.banded>tbody>tr:nth-child(odd) {
  @include color($odd);
}

.banded>tbody>tr:nth-child(even) {
  @include color($even);
}

table table {
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  th, td {
    background-color: transparent;
  }
}

label, .clickable {
  cursor: pointer;
}

.tooltipHoverTarget {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltipHoverTarget .tooltip {
  visibility: hidden;
  border-radius: 0.2em;
  position: absolute;
  top: -0.2em;
  left: 120%;
  z-index: 100;
  border: 1px solid black;
  background-color: #ffffe0;
  color: black;
  text-align: left;
  padding: 0.15em 0.3em;
  font-size: 0.9em;
}

.tooltipHoverTarget:hover .tooltip {
  visibility: visible;
}
